.flex-container {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  flex-grow: 1;
}

.total-price {
  font-size: 1.3em;
  font-weight: bold;
  text-align: end;
}

#pay {
  margin-bottom: 2em;
}
