<h1>Amicale laique Abbaretz</h1>

<h2 class="mt-2">
  Vente de sapins de noël
</h2>

<div class="mt-2">
  <p>Chers parents,</p>
  <p>Noël approche et nous vous proposons l’achat de sapins de Noël de la gamme Nordmann (provenance Redon). Grâce à
    cette action, vous participerez directement au financement des projets de classes de vos enfants… alors, n’hésitez pas à
    en parler aux papys, mamies, amis, collègues ou voisins !!!</p>
  <p>Les sapins seront à retirer auprès de notre magasin partenaire AGRI-NORD 44 (2, rte du Moulin à Vent, à Puceul /
    rte NozayNort sur Erdre).</p>
  <p>Nous vous communiquerons la date à partir de laquelle vous pourrez retirer vos sapins ainsi que le bon de retrait via les
    pochettes de liaison des élèves et e-primo.</p>
  <p>Merci d’avance pour votre investissement !
    L’Amicale laïque d’Abbaretz</p>
</div>

<form>
  <h2>Elève vendeur</h2>
  <hr/>
  <div class="flex-container">
    <mat-form-field appearance="fill">
      <mat-label>Nom</mat-label>
      <input matInput type="text" placeholder="Pierre" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Prénom</mat-label>
      <input matInput type="text" placeholder="Dupont" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Classe</mat-label>
      <mat-select matNativeControl [(ngModel)]="selectedClasse" name="classe" required>
        <mat-option *ngFor="let classe of classes" [value]="classe">
          {{classe.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Téléphone</mat-label>
      <input matInput type="tel" placeholder="0606040302">
    </mat-form-field>
  </div>

  <h2>Commande</h2>
  <hr/>

  <ng-container>
    <div class="flex-container">
      <div class="item">
        <h3>Choix du sapin</h3>
        <mat-form-field appearance="fill">
          <mat-label>Sapin sélectionné</mat-label>
          <mat-select [(ngModel)]="selectedSapin" name="sapin">
            <mat-option *ngFor="let sapin of sapins" [value]="sapin">
              {{sapin.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button class="btn btn-secondary ajouter" (click)="ajoutSapin(selectedSapin)">Ajouter</button>
      </div>

      <div class="item">
        <h3>Choix de la bûche</h3>
        <mat-form-field appearance="fill">
          <mat-label>Buche sélectionnée</mat-label>
          <mat-select matNativeControl [(ngModel)]="selectedBuche" name="buche">
            <mat-option *ngFor="let buche of buches" [value]="buche">
              {{buche.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button class="btn btn-secondary ajouter" (click)="ajoutBuche(selectedBuche)">Ajouter</button>
      </div>
    </div>
  </ng-container>

</form>

<h2>Panier</h2>
<hr/>
<ng-container>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>Produit</th>
      <th>Choix</th>
      <th>Prix</th>
      <th>Quantité</th>
      <th>Supprimer</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let sapin of cart.sapins">
      <td>Sapin</td>
      <td>{{sapin.value}}</td>
      <td>{{(sapin.price / 100).toFixed(2)}}€</td>
      <td>{{sapin.quantity}}</td>
      <td>
        <button class="btn btn-danger deleteItem" (click)="supprimerSapin(sapin)">X</button>
      </td>
    </tr>
    <tr *ngFor="let buche of cart.buches">
      <td>Buche</td>
      <td>{{buche.value}}</td>
      <td>{{(buche.price / 100).toFixed(2)}}€</td>
      <td>{{buche.quantity}}</td>
      <td>
        <button class="btn btn-danger deleteItem" (click)="supprimerBuche(buche)">X</button>
      </td>
    </tr>
    </tbody>
  </table>

  <p class="total-price">Total : {{getTotalPrice()}} €</p>

  <div class="form-group form-check">
    <input type="checkbox" [(ngModel)]="confirmNoShipping" id="acceptTerms" class="flexCheckDefault form-check-input"/>
    <label for="acceptTerms" class="form-check-label">J'ai bien compris que les sapins sont à retirer à Puceul avec un bon qui sera remis à l'école Lous Davy à Abbaretz.</label>
    <div *ngIf="confirmNoShipping === false" class="invalid-feedback">Vous devez accepter les conditions de retrait</div>
  </div>

  <button id="pay" class="btn btn-primary" *ngIf="!showSuccess" [disabled]="!confirmNoShipping" (click)="pay()">Payer</button>

  <div class="mt-2" *ngIf="showPayment && !showSuccess && confirmNoShipping && (getTotalPrice() !== '0.00')">
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
  </div>
</ng-container>

<div class="mt-2" *ngIf="showSuccess">
  <div class="alert alert-success mt-2">
    Félicitations votre transaction a été effectuée. Votre commande est prise en compte. Merci.
  </div>
</div>

<div class="mt-2" *ngIf="showError">
  <div class="alert alert-danger mt-2">
    Votre transaction a échoué. Aucun prélèvement ne sera effectué. Votre commande n'a pas été prise en
    compte. Aucun prélèvement ne sera effectué.
  </div>
</div>

<div class="mt-2" *ngIf="showCancel">
  <div class="alert alert-info mt-2">
    Votre transaction a été annulée. Aucun prélèvement ne sera effectué.
  </div>
</div>
